
// 背景色
$qianHeSeBeiJing: #f5e6d3;
$danYaSeBeiJing: #f7f1e3;

// 边框色
$qianHuiSeBianKuang: #aaa;
$gengQianHuiSeBianKuang: #eee;

// 文本色
$shenZongSeWenBen: #663d00;
$shenHuiSeWenBen: #666;
$qianHuiSeWenBen: #aaa;

// 按钮色
$lvSeAnNiu: #3cc51f;
$chengSeAnNiu: #f48e4b;

// 阴影
$biaoZhunYinYing: rgba(0, 0, 0, 0.2);

// 基础颜色
$baiSeWenBen: white;
$heiSeWenBen: black;

